dist/
node_modules/
privatenotes.md
*.log
.DS_Store

# docker compose volume
compose

# nix build artefacts
result

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

style-conversion
